body{	
 margin: 0px;
 padding: 0px;
 background: url(https://blznav.akamaized.net/img/games/cards/card-world-of-warcraft-54576e6364584e35.jpg);
}
.arriba{
	border: 2px solid black;
	background: 

}
.ajustar{
	width: 75px;
}
